.feat-img {
    width: 25%;
    border-radius: 5px;
    height: 250px;
}

.reviewer-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.review-card {
    background: #f2f2f2;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 1rem;

    .rating {
        display: inline-flex;
    }

    .handle a{
        color: pink;
    }
}