<div class="container-full search-form">
  <div class="search row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="logo">
            <img src="assets/doughnut.png" width="100" height="100" class="carrot" alt="">
            <span class="domato mt-2">D'oh-mato</span>
          </div>
        </div>
      </div>
      <form>
        <div class="form-row">
          <div class="col-4">
            <select name="cuisine" class="form-control" [(value)]="selectedCuisine" [(ngModel)]="selectedCuisine"
              [ngModelOptions]="{standalone: true}">
              <option value="" disabled>Choose a Cuisine</option>
              <option *ngFor="let c of cuisine" value="{{c.cuisine_id}}" selected="c.cuisine_name === 'Asian'">
                {{c.cuisine_name}}</option>
            </select>
          </div>
          <div class="col-4">
            <select class="form-control" [(value)]="selectedCategory" [(ngModel)]="selectedCategory"
              [ngModelOptions]="{standalone: true}">
              <option selected>Category</option>
              <option *ngFor="let cat of category" value="{{cat.id}}">{{cat.name}}</option>
            </select>
          </div>

          <div class="col-4">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Radius" [(ngModel)]="distance"
                [ngModelOptions]="{standalone: true}" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">km</span>
              </div>
            </div>
          </div>
          <div class="search-btn">
            <a routerLink="/list"><button type="button" class="btn btn-primary"
                (click)="setValue(distance, selectedCuisine, selectedCategory, lat, long)">Let's Yeet This
                Wheat</button></a>
          </div>
        </div>
      </form>

      <div class="row quick-search">
        <div class="col-2">
          <div class="restaurants">
            <a routerLink="/list">
              <div class="quick-category" (click)="setCategory(8, lat, long)">
                <img src="../../../assets/breakfast.png" width="50px" alt="Breakfast">
                <span class="category-title">Breakfast</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-2">
          <div class="restaurants">
            <a routerLink="/list">
              <div class="quick-category" (click)="setCategory(9, lat, long)">
                <img src="../../../assets/fast-food.png" width="50px" alt="Lunch">
                <span class="category-title">Lunch</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-2">
          <div class="restaurants">
            <a routerLink="/list">
              <div class="quick-category" (click)="setCategory(10, lat, long)">
                <img src="../../../assets/dinner.png" width="50px" alt="Dinner">
                <span class="category-title">Dinner</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-2">
          <div class="restaurants">
            <a routerLink="/list">
              <div class="quick-category" (click)="setCategory(1, lat, long)">
                <img src="../../../assets/delivery.png" width="50px" alt="Delivery">
                <span class="category-title">Delivery</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-2">
          <div class="restaurants">
            <a routerLink="/list">
              <div class="quick-category" (click)="setCategory(6, lat, long)">
                <img src="../../../assets/coffee.png" width="50px" alt="Cafes">
                <span class="category-title">Cafes</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-2">
          <div class="restaurants">
            <a routerLink="/list">
              <div class="quick-category" (click)="setCategory(11, lat, long)">
                <img src="../../../assets/cheers.png" width="50px" alt="Pubs & Bars">
                <span class="category-title">Pubs</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bob pt-4">
    <div class="col-12">
      <h3>Best of Brisbane</h3>
    </div>

    <div class="row recommended">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let s of trending; let i = index;">
        <div class="img-container">
          <a routerLink="/detail/{{s.R.res_id}}">
            <div class="bob-img red" [ngStyle]="{background: 'url(' + s.featured_image + ')'}">
              <h5 class="card-title">{{s.name}}</h5>
              <!-- <p>{{s.cuisines}}</p> -->
            </div>
          </a>
        </div>
        <!-- <span class="badge badge-pill badge-light">{{s.cuisines}}</span> 
          <span class="badge badge-pill badge-light" *ngIf="s.user_rating.votes > 0">{{s.user_rating.aggregate_rating}} 
            <mat-icon [ngClass]="{'good-rating': s.user_rating.aggregate_rating > 4.5, 'bad-rating': s.user_rating.aggregate_rating < 4.5}">star</mat-icon>
            ({{s.user_rating.votes}})</span>
            <span class="badge badge-pill badge-light" *ngIf="s.user_rating.votes <= 0">No Ratings</span>
            <span class="distance">{{distance[i]}}km</span> -->
      </div>
    </div>
  </div>
</div>