<div class="container">
  <div class="row">
      <button class="btn btn-outline mt-4 mb-4" (click)="newRestaurant()">Add Restaurant</button>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Location</th>
          <!-- <th>Cuisine</th> -->
          <th>Rating</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rd of restaurantData">
          <td>{{rd.id}}</td>
          <td>{{rd.name}}</td>
          <td>{{rd.location}}</td>
          <!-- <td>{{rd.cuisine}}</td> -->
          <td>{{rd.userRating}} ({{rd.votes}})</td>
          <td>
            <a (click)="editRecord(rd)" class="link">Edit</a>
            <a (click)="deleteRecord(rd)" class="link ml-2">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>