@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$head-font: "Rubik", sans-serif;
$body-font: "Lato", sans-serif;

body {
  font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $head-font;
}

.search {
  background: #ffafbd; /* fallback for old browsers */
  background: -webkit-linear-gradient(30deg, #ffc3a0, #ffafbd); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    30deg,
    #ffc3a0,
    #ffafbd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 65vh;

  .carrot, span {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 15vh;
    }

    span {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        font-family: $head-font;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #FFF;
    }
}

.form-row {
  margin: 0 15vw;
  position: relative;
  top: 20vh;

  .search-btn {
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
  }
}

.form-control {
  border: none;
  font-family: $head-font;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #505050;
  border-radius: 25px;
  padding: 0.25rem 1rem;

  &:focus {
    box-shadow: none;
  }
}

.btn {
  border-radius: 25px;
  font-family: $head-font;
  background: #ffafbd;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;

  &:focus,
  &:hover,
  &:active
   {
    background: #ff6e7e;
  }
}

.btn-primary {
    &:focus,
    &:hover,
    &:active
     {
      background: #ff6e7e;
    }
}