@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$head-font: "Rubik", sans-serif;
$body-font: "Lato", sans-serif;

body {
  font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $head-font;
}

.navbar {
    background: #ffafbd; /* fallback for old browsers */
    background: -webkit-linear-gradient(-60deg, #ffc3a0, #ffafbd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      -60deg,
      #ffc3a0,
      #ffafbd
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .navbar-brand {
        color: #FFF !important;
        font-size: 1.25rem;
        font-family: $head-font;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        display: inline-flex;
        align-items: center;

        img {
            margin-right: 0.75rem;
        }
    }
}

.results {
    .row {
        display: inline-flex;
        justify-content: center;
    }
}

.search-form {
  overflow-x: hidden;
}

.search {
  background: #ffafbd; /* fallback for old browsers */
  background: -webkit-linear-gradient(30deg, #ffc3a0, #ffafbd); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    30deg,
    #ffc3a0,
    #ffafbd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 75vh;
  // background: url("https://images.unsplash.com/photo-1490367605959-06955305859b?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80");
  background-size: cover;
  margin: 0;

  .carrot, .domato {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 15vh;
    }

    .domato {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        font-family: $head-font;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #FFF;
    }

    .input-group {
        align-items: center;
    }

    .input-group-text {
        border-radius: 25px;
        border: none;
        padding: .345rem .75rem;
        font-weight: 500;
        font-family: $head-font;
    }
}

.restaurants {
  background: rgba(255, 255, 255, 0.1);

  &:hover {
    background: none;
    transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
  }
}

.quick-search {
    top: 32vh;
    position: relative;
    margin: 0 15rem;

    .quick-category {
        text-align: center;
        border: 1.5px solid white;
        padding: 1rem;
        border-radius: 10px;
    }

    .category-title {
      font-family: $head-font;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 500;
      color: white;
      display: block;
      padding-top: 0.75rem; 
      letter-spacing: 1px;
  }
    a:hover {
      text-decoration: none;
    }
}


.form-row {
  margin: 0 15vw;
  position: relative;
  top: 20vh;

  .search-btn {
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
  }
}

.form-control {
  border: none;
  font-family: $head-font;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #505050;
  border-radius: 25px;
  padding: 0.25rem 1rem;

  &:focus {
    box-shadow: none;
  }
}

.btn {
  border-radius: 25px;
  font-family: $head-font;
  background: #ffafbd;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;

  &:focus,
  &:hover,
  &:active
   {
    background: #ff6e7e;
  }
}

.btn-primary {
    &:focus,
    &:hover,
    &:active
     {
      background: #ff6e7e !important;
    }
}

.badge-pill {
    display: inline-flex;
    align-items: center;

    .mat-icon {
        width: 15px;
        height: 15px;
        // padding: 0 5px;
    }

    .material-icons {
        font-size: 15px;
    }
}

.good-rating {
  color: #ffdf32;
}

.bad-rating {
  color: #595959;
}

.card {
    margin: 1rem;
    padding: 0;

    .distance {
        float: right;
        font-size: 0.9rem;
    }

    .price-range {
        font-size: 0.8rem;
    }

    a {
      color: #2d2d2d;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: #545454;
      }
    }
}

.restaurant-img,
.feat-img,
.bob-img {
    width: 100%;
    height: 250px;
    background-size: cover !important;
    background-position: center !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.recommended, .bob {
  justify-content: center;
}

.bob {
  background: #fff7f9;
  padding: 1rem 3rem;
   
  h3 {
    text-align: center;
  }
}

.recommended {
  margin: 0;
  
  .bob-img {
    height: 175px;
    // width: 320px;
    border-radius: 5px;
    position: relative;
    margin-top: 1rem;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.55);
    display: flex;
    align-items: center;

    &:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.35);
    transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
    }
  }

  .card-title {
    display: block;
    margin: 0 auto;
    color: #FFF;
    z-index: 1;
    text-align: center;
    padding: 1.3rem;
    line-height: 24px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

